.burger {
	display: flex;
	position: relative;
	padding-top: 70px;
	justify-content: center;
	.burger-content {
		scrollbar-width: thin;
		scrollbar-color: grey white;
		overflow: auto;
		margin: 25px;
		width: 450px;
		height: 450px;
		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-track {
			background-color: white;
		}
		&::-webkit-scrollbar-thumb {
			background-color: grey;
			border-radius: 5px;
			border: 2px solid white;
		}
		.breads {
			width: 350px;
			margin: 7px auto;
		}
		.upperBread {
			height: 60px;
			display: flex;
			background-color: #cf7712e1;
			background-image: linear-gradient(to top, #cf7712e1, #b1650fe1);
			border-top-left-radius: 90%50px;
			border-top-right-radius: 90%50px;
			box-shadow: inset -16px 0px 0px 0px rgba(175, 106, 27, 0.882);
			.seed-1 {
				position: relative;
				background-color: #fcf5f5f8;
				height: 7px;
				width: 30px;
				border-top-left-radius: 90%7px;
				border-top-right-radius: 90%7px;
				border-bottom-left-radius: 90%7px;
				border-bottom-right-radius: 90%7px;
				top: 30px;
				left: 80px;
				transform: rotate(305deg);

				&:after {
					content: "";
					position: relative;
					display: inline-block;
					background-color: #fcf5f5f8;
					height: 7px;
					width: 30px;
					border-top-left-radius: 90%7px;
					border-top-right-radius: 90%7px;
					border-bottom-left-radius: 90%7px;
					border-bottom-right-radius: 90%7px;
					top: 14px;
					left: 34px;
					transform: rotate(226deg);
				}

				&::before {
					content: "";
					position: relative;
					display: inline-block;
					background-color: #fcf5f5f8;
					height: 7px;
					width: 30px;
					border-top-left-radius: 90%7px;
					border-top-right-radius: 90%7px;
					border-bottom-left-radius: 90%7px;
					border-bottom-right-radius: 90%7px;
					top: -51px;
					left: -43px;
					transform: rotate(64deg);
				}
			}
			.seed-2 {
				position: relative;
				background-color: #fcf5f5f8;
				height: 7px;
				width: 30px;
				border-top-left-radius: 90%7px;
				border-top-right-radius: 90%7px;
				border-bottom-left-radius: 90%7px;
				border-bottom-right-radius: 90%7px;
				top: 30px;
				left: 210px;
				transform: rotate(305deg);

				&:after {
					content: "";
					position: relative;
					display: inline-block;
					background-color: #fcf5f5f8;
					height: 7px;
					width: 30px;
					border-top-left-radius: 90%7px;
					border-top-right-radius: 90%7px;
					border-bottom-left-radius: 90%7px;
					border-bottom-right-radius: 90%7px;
					top: 14px;
					left: 34px;
					transform: rotate(266deg);
				}

				&::before {
					content: "";
					position: relative;
					display: inline-block;
					background-color: #fcf5f5f8;
					height: 7px;
					width: 30px;
					border-top-left-radius: 90%7px;
					border-top-right-radius: 90%7px;
					border-bottom-left-radius: 90%7px;
					border-bottom-right-radius: 90%7px;
					top: -58px;
					left: -17px;
					transform: rotate(300deg);
				}
			}
		}
		.lowerBread {
			display: flex;
			height: 40px;
			background-color: #cf7712e1;
			background-image: linear-gradient(to bottom, #cf7712e1, #b1650fe1);
			border-bottom-left-radius: 90%50px;
			border-bottom-right-radius: 90%50px;
			box-shadow: inset -16px 0px 0px 0px rgba(175, 106, 27, 0.882);
		}
		.initial-msg {
			display: flex;
			margin-top: 7px;
			font-size: 1.4em;
			font-weight: bold;
			align-items: center;
			justify-content: center;
		}
		.item-1 {
			height: 20px;
			width: 400px;
			background-color: green;
			border-radius: 15px;
			margin: 10px auto;
		}
		.item-2 {
			height: 15px;
			width: 350px;
			background-color: red;
			border-radius: 5px;
			margin: 10px auto;
		}
		.item-3 {
			height: 10px;
			width: 350px;
			background-color: rgb(235, 208, 59);
			margin: 10px auto;
		}
		.item-4 {
			height: 20px;
			width: 350px;
			border-radius: 5px;
			background-color: #8f5c2c;
			margin: 10px auto;
		}
	}
}
