.header {
  background-color: #703b09;
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: 40px;
  }
  .header-buttons {
    display: flex;
    justify-content: space-between;
    .header-button {
      background-color: #703b09;
      padding: 20px;
      color: white;
      font-size: large;
      border: none;
      &.disabled {
        background-color: #c3ced79c;
        color: rgba(211, 209, 209, 0.987);
        cursor: not-allowed;
        &:hover {
          background-color: #c3ced79c;
        }
      }
    }
    :hover {
      background-color: #8f5c2c;
      cursor: pointer;
    }
  }
}

.order-placed {
  
  h2 {
    width: fit-content;
    margin: 10px auto;
  }
}

.reset {
  position: fixed;
  bottom: 0px;
  color: blue;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
